body {
    font-family: "Roboto", serif;
  }

  #hiddenSection {
    transition: transform 0.5s ease-in-out;
  }

  html {
    scroll-behavior: smooth;
  }

  .text-section {
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .gradient-overlay {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .hover\:content-show:hover .text-section {
    transform: translateY(0);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 1rem 1rem;
  }

  .hover\:content-show:hover .gradient-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    opacity: 0.5;
  }

  .overflow-x-auto {
    overflow: hidden !important;
  }

  .container {
    max-width: 1280px !important;
  }

  /* .faq-item-hidden {
    display: none;
  } */

  .faq-item-visible {
    display: block;
  }

  .tab-button.active-tab:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    background-color: white;
    height: 15px;
    z-index: 9;
  }

  .video-container {
    width: 75%;
    height: 0;
    padding-bottom: 40%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  @media screen and (max-width: 929.5px) {

    .video-container {
      width: 95%;
      height: 0;
      padding-bottom: 80%;
    }

  }